/* RESET */ 
/*  (CASO PRECISE)
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

/* RESET */
a, 
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

header {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  color: rgb(58, 58, 58);
}

nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: left;
}

nav a {
  color: rgb(58, 58, 58);
  
}

main {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(58, 58, 58);

  border-left: 1px solid rgb(58, 58, 58);

  overflow: scroll;
  height: 700px;
}

footer {
  background-color: rgb(204, 204, 204);
}
footer a {
  color: white;
}
footer img {
  width: 250px;
}
footer ul {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: right;
  margin-right: 2rem;
}
